.lessons {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.lesson {
    width: 150px;
    height: 75px;
    border-radius: 8px;

    text-align: center;
    display: flex;
    flex-direction: column;
    vertical-align: middle;

    margin-left: 5px;
    margin-right: 5px;

    border: 1px solid #aaa;
}

.lesson.selected {
    background-color: steelblue;
}

.lesson:first-child {
    margin-left: 10px;
}

.lesson > .wrapper {
    margin: auto;
}