* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

html, body, #root, #game {
    height: 100%;
}

#root {
    margin: 0px 1em 0px 1em;
    padding: 0 0 0 0;
}

#game > *:first-child {
    margin-top: 1em;
}

#game > *:last-child {
    margin-bottom: 1em;
}

#game {
    display: flex;
    flex-direction: column;
}

.ReactPiano__Keyboard {
    margin: auto;
}

.stave-container {
    margin: auto;
    width: 200px;
    overflow: hidden;
}

.piano-container > div {
    height: auto;
}